img {
  display: block;
  max-width: 100%;
}

.icon {
  &-heading {
  }
  &-img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
  }
  &-header {
    padding-top: 0.5rem;
    top: 0;
    margin-left: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f5f7;
    // background-color: #f4f5f7;
  }
  &-list {
    display: flex;
    // margin-left: auto;
  }
  &-item {
    width: 3rem;
    height: 3rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 0.5rem;
    &:nth-child(2) {
      position: relative;
      &::after {
        content: "3";
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background-color: red;
        text-align: center;
        font-size: 0.8rem;
        transform: translate(10%, -40%);
      }
    }
  }
}
